    <nav id="myNavbar" class="navbar navbar-default navbar-inverse" role="navigation">
		<div class="container">
			<div class="navbar-header">
				<button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbarCollapse">
					<span class="sr-only">Toggle navigation</span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
				</button>
				<a class="navbar-brand" href="{{site.baseurl}}index.html">KeyStore Explorer</a>
			</div>
			<!-- Collect the nav links, forms, and other content for toggling -->
			<div class="collapse navbar-collapse" id="navbarCollapse">
				<ul class="nav navbar-nav">
					<li {% if page.url == "/news.html" %}class="active"{% endif %}><a href="{{site.baseurl}}news.html">News</a></li>
					<li {% if page.url == "/features.html" %}class="active"{% endif %}><a href="{{site.baseurl}}features.html">Features</a></li>
					<li {% if page.url == "/specifications.html" %}class="active"{% endif %}><a href="{{site.baseurl}}specifications.html">Specifications</a></li>
					<li {% if page.url == "/screenshots.html" %}class="active"{% endif %}><a href="{{site.baseurl}}screenshots.html">Screenshots</a></li>
					<li {% if page.url == "/releases.html" %}class="active"{% endif %}><a href="{{site.baseurl}}releases.html">Release Notes</a></li>
					<li {% if page.url == "/downloads.html" %}class="active"{% endif %}><a href="{{site.baseurl}}downloads.html">Downloads</a></li>
					<li {% if page.url == "/contribute.html" %}class="active"{% endif %}><a href="{{site.baseurl}}contribute.html">Contribute</a></li>
					<li {% if page.url == "/license.html" %}class="active"{% endif %}><a href="{{site.baseurl}}license.html">License</a></li>
				</ul>
			</div>
		</div>
	</nav>
