    <nav id="myNavbar" class="navbar navbar-expand-lg navbar-dark bg-dark mb-4">
        <div class="container">
            <a class="navbar-brand" href="{{'/index.html' | relative_url}}">KeyStore Explorer</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item {% if page.url == "/news.html" %}active{% endif %}"> <a class="nav-link" href="{{'/news.html' | relative_url}}">News</a> </li>
                    <li class="nav-item {% if page.url == "/features.html" %}active{% endif %}"> <a class="nav-link" href="{{'/features.html' | relative_url}}">Features</a> </li>
                    <li class="nav-item dropdown {% if page.layout == 'doc' %}active{% endif %}"> <a class="nav-link dropdown-toggle" href="#" role="button" data-toggle="dropdown">User Manual</a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                            <a class="dropdown-item" href="{{'/doc/5.5/overview.html' | relative_url}}">User Interface Overview</a>
                            <a class="dropdown-item" href="{{'/doc/5.5/toolBar.html' | relative_url}}">Tool Bar</a>
                            <a class="dropdown-item" href="{{'/doc/5.5/keyboardShortcuts.html' | relative_url}}">Keyboard Shortcuts</a>
                            <div class="dropdown-divider"></div>
                            <a class="dropdown-item" href="{{'/doc/5.5/keyStoreManagement.html' | relative_url}}">KeyStore Management</a>
                            <a class="dropdown-item" href="{{'/doc/5.5/keyPairs.html' | relative_url}}">Key Pairs</a>
                            <a class="dropdown-item" href="{{'/doc/5.5/trustedCertificates.html' | relative_url}}">Trusted Certificates</a>
                            <a class="dropdown-item" href="{{'/doc/5.5/keys.html' | relative_url}}">Secret Keys</a>
                            <a class="dropdown-item" href="{{'/doc/5.5/digitalSigning.html' | relative_url}}">Digital Signing</a>
                            <a class="dropdown-item" href="{{'/doc/5.5/certificateExtensions.html' | relative_url}}">Certificate Extensions</a>
                            <a class="dropdown-item" href="{{'/doc/5.5/examineFiles.html' | relative_url}}">Examine Files and Connections</a>
                            <a class="dropdown-item" href="{{'/doc/5.5/preferences.html' | relative_url}}">Preferences</a>
                            <div class="dropdown-divider"></div>
                            <a class="dropdown-item" href="{{'/doc/5.5/specifications.html' | relative_url}}">Specifications</a>
                        </div>
                    </li>
                    <li class="nav-item {% if page.url == "/screenshots.html" %}active{% endif %}"> <a class="nav-link" href="{{'/screenshots.html' | relative_url}}">Screenshots</a> </li>
                    <li class="nav-item {% if page.url == "/releases.html" %}active{% endif %}"> <a class="nav-link" href="{{'/releases.html' | relative_url}}">Release Notes</a> </li>
                    <li class="nav-item {% if page.url == "/downloads.html" %}active{% endif %}"> <a class="nav-link" href="{{'/downloads.html' | relative_url}}">Downloads</a> </li>
                    <li class="nav-item {% if page.url == "/contribute.html" %}active{% endif %}"> <a class="nav-link" href="{{'/contribute.html' | relative_url}}">Contribute</a> </li>
                    <li class="nav-item {% if page.url == "/license.html" %}active{% endif %}"> <a class="nav-link" href="{{'/license.html' | relative_url}}">License</a> </li>
                    <li class="nav-item"> <a class="nav-link" href="https://github.com/kaikramer/keystore-explorer">GitHub</a> </li>
                </ul>
            </div>
        </div>
    </nav>
