    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
        <meta name="description" content="KeyStore Explorer is an open source GUI replacement for the Java command-line utilities keytool and jarsigner. KeyStore Explorer presents their functionality, and more, via an intuitive graphical user interface.">
        <meta name="keywords" content="KeyStore Explorer, kse, Java, keystore, keytool, GUI" />
        <meta name="author" content="Kai Kramer">
        <link rel="shortcut icon" href="{{site.baseurl}}images/favicon.ico" />

        <title>{% if page.title %}{{ page.title | escape }}{% else %}{{ site.title | escape }}{% endif %}</title>

        <link rel="stylesheet" href="{{site.baseurl}}css/bootstrap.css">
        <link rel="stylesheet" href="{{site.baseurl}}css/kse.css">
        <script src="{{site.baseurl}}js/jquery-3.4.1.js"></script>
        <script src="{{site.baseurl}}js/bootstrap.js"></script>
        <script src="{{site.baseurl}}js/bootstrap-toc.js"></script>
    </head>
